@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    html, body {
    max-width: 100%;
    overflow-x: hidden;
  }
  
    ul, ol {
      list-style: revert;
      
      font-size: medium;
    }
    p{
        font-size: medium;
    }
        
    li{
        margin-left: 1em;
        
    }
  }

  ::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ffbd20 ;
}